# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files (override files)
*.tfvars

# Crash log files
crash.log

# Exclude CLI configuration files
terraform.rc

# Ignore .terraform.lock.hcl if present
.terraform.lock.hcl

# Ignore override files as they're usually used to override resources locally and so
